<mat-toolbar class="app-toolbar no-print mat-toolbar mat-primary mat-toolbar-multiple-rows" color="primary">

    <mat-toolbar-row class="mat-toolbar-row">
        <button class="hamburger mat-button" mat-button="" title="Docs menu">
            <span class="mat-button-wrapper">
                <mat-icon class="mat-icon" role="img" svgicon="menu" aria-hidden="true">
                    <svg focusable="false" viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path>
                    </svg>
                </mat-icon>
            </span>
            <div class="mat-button-ripple mat-ripple" matripple=""></div>
            <div class="mat-button-focus-overlay"></div>
        </button>
        <span class="uwt-title">Underwriting tool</span>
        <span class="uwt-user">John Doe</span>
        <span class="uwt-tools">
            <button mat-button>
                <i class="fas fa-file-export"></i>
            </button>
            <button mat-button>
                    <i class="fas fa-sign-out-alt" ></i>
            </button>
        </span>
            <!-- <a class="nav-link home" href="/">
                <img alt="Home" height="40" 
                    src="assets/images/logos/angular/shield-large.svg" 
                    title="Home" width="37"
                    class="ng-star-inserted">
            </a> -->
        <!-- <aio-search-box class="search-container">
            <input aria-label="search" placeholder="Search" type="search">
        </aio-search-box> -->
        <!-- <div class="toolbar-external-icons-container">
            <a href="https://twitter.com/angular" title="Twitter">
                <img src="assets/images/logos/twitter-icon.svg">
            </a>
            <a
                href="https://github.com/angular/angular" title="GitHub">
                <img src="assets/images/logos/github-icon.svg">
            </a>
        </div> -->
    </mat-toolbar-row>
</mat-toolbar>