<div class="side-nav lg-only">
    <button mat-raised-button class="side-nav-tab">
            <span><i class="fas fa-users side-nav-icon-left"></i></span>
            <span class="uwt-side-nav-text">Personal Information</span>
            <span><i class="fas fa-check-circle green side-nav-icon-right"></i></span>
    </button>

    <!-- <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title class="middle-align">

                    <span><i class="fas fa-users"></i></span>
                    <span class="uwt-p">Personal Information</span>

                </mat-panel-title>

            </mat-expansion-panel-header>


        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title class="middle-align">
                    <span><i class="fas fa-money-check-alt"></i></span>
                    <span class="uwt-p">Loan Information</span>
                </mat-panel-title>

            </mat-expansion-panel-header>


        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title class="middle-align">
                    <span><i class="fas fa-home"></i></span>
                    <span class="uwt-p">Property Information</span>
                </mat-panel-title>
            </mat-expansion-panel-header>
        </mat-expansion-panel>
        <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title class="middle-align">
                        <span><i class="fas fa-home"></i></span>
                        <span class="uwt-p">Assets Information</span>
                    </mat-panel-title>
                </mat-expansion-panel-header>
            </mat-expansion-panel>
    </mat-accordion> -->
</div>