
.login-section {
    position: absolute; 
    top: 40vh; 
    left: 40vw;
    width:25vw;
}

.mat-card-title {
    text-align: center;
    align-items: center;
    background-color: #673ab7;
    color: #ffffff;
    height: 4vw;
    line-height: 4vw;
    border-radius: 0.4vw; 

}